.auth-wrapper {
  display: flex;
  margin-top: 250px;
  justify-content: center;
}
.auth-warning {
  display: flex;
  flex-direction: column;
}
.auth-warning-text {
  text-align: center;
  font-family: "Microsoft YaHei UI";
  font-size: 28px;
  max-width: 700px;
  color: #ababab;
}
.auth-warning-buttons {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.auth-warning-btn {
  background-color: #c7a900;
  opacity: 0.8;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 12px;
  font-family: "Microsoft YaHei UI";
  font-size: 24px;
  width: 180px;
  height: 60px;
  transition: all 0.2s ease-in;
}

.auth-warning-btn:hover {
  opacity: 1;
}

.account-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  font-size: 20px;
}
.keyboard-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  max-width: 700px;
  color: #ababab;
}

.button-r {
  font-size: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  max-height: 32px;
  flex-direction: row;
  column-gap: 30px;
}
.button-r svg {
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  fill: #c7a900;
}
.user-keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 50px;
}
.welcome-text {
  font-size: 24px;
  display: flex;
  flex-direction: column;
}
.ingo-wrapper {
  font-family: "Roboto";
}

.text {
  font-size: 28px;
  color: #ababab;
}
