.auth-wrapper {
  display: flex;
  margin-top: 250px;
  justify-content: center;
}
.auth-warning {
  display: flex;
  flex-direction: column;
}
.auth-warning-text {
  text-align: center;
  font-family: "Microsoft YaHei UI";
  font-size: 28px;
  max-width: 700px;
  color: #ababab;
}
.auth-warning-buttons {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.auth-warning-btn {
  background-color: #c7a900;
  opacity: 0.8;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 12px;
  font-family: "Microsoft YaHei UI";
  font-size: 24px;
  width: 180px;
  height: 60px;
  transition: all 0.2s ease-in;
}

.auth-warning-btn:hover {
  opacity: 1;
}

.account-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-text {
  font-size: 24px;
}
