.modal-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3f3f3f;
  border-radius: 12px;
  max-width: 440px;
  font-family: "Roboto";
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  width: 100%;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.33);
  transition: opacity 0.2s ease;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.form-title-wrapper {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  background-color: #282828;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.form-title {
  margin-top: 10px;

  text-align: center;
  justify-content: center;
  align-items: center;

  font-size: 32px;
  color: #c7a900;
}

.form-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-input {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  width: 260px;

  text-align: center;
  opacity: 0.8;
  font-size: 20px;

  color: #939393;
  border: 2px solid;
  border-radius: 4px;
  height: 50px;
  padding: 10px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: all 0.2s ease-in;
}

.form-input:hover {
  opacity: 1;
}

.form-btn {
  display: flex;
  margin-bottom: 20px;
  border-radius: 12px;
  font-size: 24px;
  width: 180px;
  height: 60px;
  width: 240px;
  padding: 4px;
  justify-content: center;
  text-align: center;
  background-color: #c7a900;
  opacity: 0.8;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: all 0.2s ease-in;
}

.form-btn:hover {
  opacity: 1;
}

.form-placeholder {
  opacity: 0.8;
  font-size: 20px;
  color: #939393;
  transition: all 0.2s ease-in;
}

.form-placeholder:hover {
  opacity: 1;
}

.username-error {
  margin-top: 10px;
  color: #ab1111;
  font-size: 18px;
  text-align: center;
}
.email-error {
  color: #ab1111;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

.password-error {
  margin-top: 10px;
  color: #ab1111;
  font-size: 18px;
  text-align: center;
}
.repeat-password-error {
  margin-top: 10px;
  text-align: center;
  color: #ab1111;
  font-size: 18px;
}
