.toolCard__button {
    display: flex;
    align-items: center;
    color: #c7a900;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 20px;
    
  }

.toolCard__textButton {
    display: none;
}

  