.keyboard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.keyboard-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}

.key {
  height: 50px;
  width: 50px;
  padding: 6px 12px;
  border-radius: 3px;
  justify-self: center;
  font-size: 18px;
  font-family: "Roboto";
}

.space {
  height: 50px;
  width: 300px;
  padding: 6px 12px;
  border-radius: 3px;
  justify-self: center;
  font-size: 16px;
}

.defaultKey {
  background-color: #333232;
  opacity: 0.7;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.activeKey {
  background-color: #c7a900;
  opacity: 0.9;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.incorrectKey {
  background-color: rgb(156, 25, 25);
  opacity: 0.7;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
