.typingLetter {
  color: #858585;
  font-family: "Roboto";
  font-size: 24px;
}

.typingLetter-correct {
  opacity: 0.85;
  color: #f6eeee;
  font-family: "Roboto";
  font-size: 24px;
}

.typingLetter-incorrect {
  opacity: 0.7;
  color: red;
  font-family: "Roboto";
  font-size: 24px;
}
#typingLetter-incorrect__add {
  color: #7e0b0b;
  font-family: "Roboto";
  font-size: 24px;
}
