.typingLetter {
  color: #858585;
  font-family: "Roboto";
  font-size: 22px;
}

.typingLetter-correct {
  color: white;
  font-family: "Roboto";
  font-size: 22px;
}

.typingLetter-incorrect {
  color: red;
  font-family: "Roboto";
  font-size: 22px;
}
.typingLetter-incorrect__add{
  color: red;
  font-family: "Roboto";
  font-size: 22px;
}
