.inputText-section {
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 28px;
}

.capsLock-warning {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7a900;
  font-family: "Roboto";
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 16px;
  z-index: 10000;
}

.count-wrapper {
  padding-top: 10px;
  color: #c7a900;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 20px;
}

.top-bar-row {
  display: flex;
  flex-direction: row;
  height: 40px;
  column-gap: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top-bar-row-row {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.restart-hint {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999999;
  font-size: 18px;
  font-family: "Roboto";
  opacity: 0.8;
  padding-bottom: 10px;
}

.focus-button-wrapper {
  position: relative;
}
.focus-button {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  color: #fff;
  z-index: 9999;
}

@keyframes cursor-blink {
  0% {
    border-color: rgba(199, 184, 3, 0);
  }
}

.typingText-input {
  display: flex;
  position: absolute;
  background-color: transparent;
  width: 1000px;
  caret-color: transparent;
  color: transparent;
}

.typingText-wrapper {
  display: flex;
  flex-direction: row;
  max-height: 120px;
  overflow: clip;
  white-space: pre-wrap;
  flex-wrap: wrap;
  row-gap: 10px;
  z-index: 0;
  max-width: 900px;
}

.blur {
  filter: blur(5px);
}
