.inputText-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.typingText-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  z-index: 0;
  max-width: 900px;
}

.typingText-wrapper :focus {
  outline: none;

  border-left: 2px solid;
  border-color: rgba(199, 184, 3, 0.7);

  animation: cursor-blink 0.9s infinite;
}

.inputText-section {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes cursor-blink {
  0% {
    border-color: rgba(199, 184, 3, 0);
  }
}
