.typingLetter {
  color: #858585;
}

.typingLetter-correct {
  color: #f6eeee;
}

.typingLetter-incorrect {
  color: #ab1111;
}
.typingLetter-incorrect__add {
  color: #7e0b0b;
  text-decoration: underline;
}

.typingLetter,
.typingLetter-correct,
.typingLetter-incorrect,
.typingLetter-incorrect__add {
  opacity: 0.85;
  transition: color 0.1s linear;
  font-family: "Roboto";
  font-size: 28px;
  border-left: 0.5px #4b4b4b solid;
}
